.navbar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navbar ul li {
    margin-right: 15px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #fff;
}

.navbar ul li a.active {
    text-decoration: none;
}